<!DOCTYPE html>
<html>
<head>
	<title>String Pattern Validtor</title>
</head>
<style type="text/css">
	body{
		background-color: #f1f1f1;
	}
</style>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 my-4 offset-3 card shadow-sm">
				<div class="form-group my-3 ">
					<input type="text" id="inputText" 
					class="form-control" 
					placeholder="Enter String Expression">

					<input type="submit" id="submitBtn" 
					class="mt-2 btn btn-primary float-right" (click)="clickFunction()">
				</div>
			</div>
			<div class="col-md-6 my-4 offset-3 card shadow-sm" id="resultDiv" style="display: none; height: auto">
				<label class="label-control float-left mt-2"></label>
				<textarea class="form-control my-1" id="resultBar" disabled="" style="height: 400px">
					
				</textarea>
			</div>
		</div>
	</div>
</body>

</html>
